<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Form Sederhana</title>
</head>
<body>
  <!doctype html>
<html>
<head><title>Form</title></head>
<body>
  <h1>My Flask Form</h1>
  <p style="color: green; font-weight: bold;">✅ CI/CD Test by Salma 🎉</p>
  <form method="POST">
    <input type="text" name="name" placeholder="Enter your name">
    <button type="submit">Submit</button>
  </form>
</body>
</html>


  {% if message %}
    <h2>{{ message }}</h2>
  {% endif %}
</body>
</html>
